<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See full license at the bottom of this file. -->
@model List<UnifiedApiConnect.Models.TextElements>
@{
    UnifiedApiConnect.Models.UserInfo userInfo = ViewBag.UserInfo;
    UnifiedApiConnect.Models.SendMessageResponse messageResponse = ViewBag.MessageResponse;
}

<h2>Text Building Blocks</h2>
<br />
    <p>
    <p>
        You are now connected with O365
    </p>
    <div class="btn-group-vertical">
        @foreach (var item in Model)
        {
            @*<h5>@item.Category</h5>*@
            @*<li>@item.Title</li>*@
            @*<div>@Html.Raw(item.Text);</div>*@
            <button type="button" class="btn btn-primary" value="@item.Text" onclick="doAction(this.value)">@item.Title</button>
        }
    </div>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Information</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr class="info">
            <td>User:</td>
            <td>@userInfo.UserId</td>
        </tr>
        <tr class="info">
            <td>BusinessUnit:</td>
            <td>@userInfo.BusinessUnitId</td>
        </tr>
        <tr>
            <td>Organization:</td>
            <td>@userInfo.OrganizationId</td>
        </tr>
        </tbody>
    </table>
</div>
<br />
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Dynamics CRM", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Logout", "Home", null, Request.Url.Scheme)"><i class="ms-Icon ms-Icon--x"></i><b>x</b> Disconnect</li>
            </ul>


        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
</body>

<script>
    (function () {
        "use strict";

        // The initialize function must be run each time a new page is loaded
        Office.initialize = function (reason) {
            $(document).ready(function () {
                app.initialize();
                // wire up event handler
                $("#addContentHellowWorld").click(onAddContentHellowWorld);
            });
        };

        function onAddContentHellowWorld() {
            Office.context.document.setSelectedDataAsync("Hello World!", testForSuccess);
        }




    })();

    function doAction(value) {
        // Don't really have anything to set...just show the value
        console.log(value);
        Office.context.document.setSelectedDataAsync(value, { coercionType: "html" }, testForSuccess);
    }

    function testForSuccess(asyncResult) {
        if (asyncResult.status === Office.AsyncResultStatus.Failed) {
            app.showNotification('Error', asyncResult.error.message);
        }
    }
</script>

</html>



<!--
O365-ASPNETMVC-Unified-API-Connect, https://github.com/OfficeDev/
Copyright (c) Microsoft Corporation
All rights reserved.

MIT License:
Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

-->
